body {
    box-sizing: content-box;
    background-color: grey;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;

    /* display: inline-grid; */
    /* grid-template-columns: auto auto auto;
    grid-column-gap: 1px;
    grid-row-gap: 1px;     */
}

.flex-item {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: bisque;
}