.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f1f1f1;
}

.App-header, .App-footer {
  background-color: #282c34;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #f1f1f1;
}

.App-footer {
  font-size: 1em;
}

.footer-div {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

h1, h2 {
  margin: 0;
}

a {
  color: #f1f1f1;
  font-size: 1.6em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 3px solid #282c34;
}

.flex-item {
  margin: 0;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  outline: none;
}

.flex-item:hover {
  background-color: hsl(271, 87%, 33%);
  color: #f1f1f1;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-intro {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: #f1f1f1;
}

.overlay span {
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay span:hover, .overlay span:focus {
  color: #f1f1f1;
}

.closebtn {
  margin-top: 10px;
  width: 300px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.settings-div {
  color: #f1f1f1;
}

.settings-icon {
  width: 300px;
  float: right;
  font-size: 30px;
  cursor: pointer;
  text-align: right;
  position: fixed;
  top: 10px;
  color: #f1f1f1;
}

.controls-div {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.controls-div :nth-child(1) { order: 1; }
.controls-div :nth-child(2) { order: 3; }
.controls-div :nth-child(3) { order: 2; }

.controls-btn {
  font-size: 1em;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 7px;
}

.controls-btn:hover,
.controls-btn-dark:hover {
  background-color: hsl(271, 87%, 33%);
  color: #f1f1f1;
}

.controls-btn-dark {
  font-size: 1em;
  width: 100px;
  cursor: pointer;
  background-color: rgb(31, 27, 27);
  color: whitesmoke;
}

.controls-btn-dark:hover {
  background-color: grey;
  color: #f1f1f1;
}

.stats-info {
  line-height: 40px;
  font-size: 1.2em;
}

/* Source: https://www.viralpatel.net/css-radio-button-checkbox-background/ */
input[type=radio] {
  display:none; 
  margin:10px;
}

input[type=radio] + label {
  display:inline-block;
  margin:-2px;
  padding: 4px 12px;
  color: #282c34;
  background-color: #e7e7e7;
  border-color: #ddd;
  cursor: pointer;
}

input[type=radio]:checked + label { 
  background-color:hsl(271, 87%, 33%);
  color: white;
}


.modal, .modal-autoplay {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 50%;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  /* margin: auto; */
  padding: 20px;
  border: 1px solid #888;
  /* width: 60%; */
  position: fixed;
  height: 20%;
  top: 40%;
  left: 20%;
  right: 20%;
  color: black;
}

.modal-autoplay-content {
  width: 50%;
  background-color: #aaaaaa;
  padding: 20px;
  margin: auto;
  border: 1px solid #282c34;
  border-radius: 2%;
}

.modal-autoplay-content button {
  color: #fefefe;
  border-radius: 5%;
  height: 2em;
  background-color: #282c34;
  cursor: pointer;
}

.modal-autoplay-content:hover {
  border-radius: 5%;
  background-color: #f1f1f1;
}

.modal-autoplay-content button:hover {
  background-color: #f1f1f1;
  color: #282c34;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #282c34;
  text-decoration: none;
  cursor: pointer;
}

.dark {
  background-color: #282c34;
  color: #fefefe
}

.intro {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 140px;
  height: 140px;
}

table td {
  border-collapse: collapse;
  background-color: white;
  color: #282c34;
  font-size: 2em;
}